 {% extends "index.html" %} 
 {% block home %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/cyber.css' %}">

 <section>
    <div class="section-heading">
        <h6>Welcome to</h6>
        <h4>Companies at CyberPark</h4>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>

                    <th>No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th >Phone</th>
                    <!-- <th>Details URL</th> -->
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                <tr class="{% if job.recent_job %}recent_job{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.email }}</td>
                    <td><a href="{{ company.website }}">{{ company.website }}</a></td>
                    <td>{{ company.phone }}</td>
                    <!-- <td><a href="{{ company.tab_url }}">{{ company.tab_url }}</a></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
 {% endblock %}
